<h1 class="mx-4 mb-5">Contact Us for any Query</h1>


<form class="container">
    <div class="container">
  <div class="form-group d-flex justify-content-between mb-3" >
    <div class="w-50">
        <input type="text" class="form-control w-75" id="exampleFormControlInput1" name="Name" placeholder="Enter your Name">
    </div>
    <input type="email" class="form-control w-50" id="exampleFormControlInput1" name="Email" placeholder="Enter your Email">
  </div>
  <div class="form-group mb-3">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Delivery Issue</option>
      <option>Product Availibility</option>
      <option>Help</option>
      <option>Other</option>
    </select>
  </div>
  
  <div class="form-group mb-5">
    <label for="exampleFormControlTextarea1">Query</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
  </div>

  <a href="#" class="btn btn-primary">Submit</a>
  </div>
</form>